<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    
    <!-- settings ：控制mybatis的全局行为 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--
        环境配置
        default必须和某个environment的id是一样的
        告诉mybatis使用那个数据库的信息，就是访问哪个数据库
    -->
    <environments default="mydev"> <!--or online-->
        <!--    environment : 一个数据库信息的配置，环境
                id：一个唯一的值，自定义，表示环境的名称
            -->
        <environment id="mydev">
            <!--
                   transactionManager : Mybatis的事务类型
                   type：JDBC（表示使用jdbc中的Connection对象的commit，rollback做事务处理）
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource:表示数据源，连接数据库
                type：数据源类型，POOLED表示使用连接池
            -->
            <dataSource type="POOLED">
                <!--
                    driver,user,username,password是固定的,不能自定义
                -->
                <!--数据库的驱动类名-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--连接数据库的url字符串-->
                <property name="url" value="jdbc:mysql://localhost:3306/springdb?useSSL=false"/>
                <!--访问数据库的用户名-->
                <property name="username" value="root"/>
                <!--密码-->
                <property name="password" value="ningxuhui"/>
            </dataSource>
        </environment>


        <environment id="online">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/onlinedb"/>
                <property name="username" value="root"/>
                <property name="password" value="asdasdwqe"/>
            </dataSource>
        </environment>
    </environments>

    <!--
        sql mappers的位置
    -->
    <mappers>
        <!--
            一个mapper标签指定一个文件的位置
            从类路径开始的路径信息   类路径：target/classes（类路径）
        -->
        <mapper resource="com/xatu/dao/StudentDao.xml"/>
    </mappers>
</configuration>

        <!--
            mybatis的主配置文件：主要定义了数据库的配置信息，sql映射文件的位置
            1 约束文件
           <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">

            2 configuration 根标签

        -->